@use "inter-ui/default" with (
  $inter-font-display: swap,
  $inter-font-path: 'inter-ui/Inter (web)'
);
@use "inter-ui/variable" with (
  $inter-font-display: swap,
  $inter-font-path: 'inter-ui/Inter (web)'
);

@tailwind base;
@tailwind components;
@tailwind utilities;

@include default.all;
@include variable.all;

html {
  font-family: "Inter", "system-ui";
  font-size: 0.875rem;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", "system-ui";
    font-size: 0.875rem;
  }
}

body {
  @apply bg-light text-dark dark:bg-dark-darker dark:text-light;
}

a {
  @apply text-cobalt-green hover:text-cobalt-green-darker transition-colors duration-150 ease-in-out;
}

.content {
  @apply w-full md:max-w-[640px] lg:max-w-[1080px] mx-auto;
}

.button-hover-effect {
  &:not(:disabled) {
    @apply hover:-translate-y-[2px] active:translate-y-0 ease-in-out duration-75;
  }

  &:disabled {
    @apply bg-gradient-to-b from-white/50 to-white/50;
  }
}

/// Transitions
.slide-down-enter-active,
.slide-down-leave-active {
  transition: all 0.25s ease;
}

.slide-down-enter-from,
.slide-down-leave-to {
  transform: translateY(-10px);
  opacity: 0;
}

.slide-right-enter-active,
.slide-right-leave-active {
  transition: all 0.25s ease;
}

.slide-right-enter-from,
.slide-right-leave-to {
  transform: translateX(-50px);
  opacity: 0;
}