# API
PORT=3000
APP_KEY=app-key
NGINX_PATH=/nginx/dir

DB_HOST=host:port
DB_NAME=database
DB_USER=username
DB_PASSWORD=password

CORS_ORIGINS=http://localhost:3000
COOKIE_NAME=your_session
COOKIE_DOMAIN=localhost
